@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .select-primary {
    @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm focus:border-blue-200 rounded-lg block w-full p-2.5 flex-initial;
  }
}

@media (min-width: 400px) {
    .ccp-header {
      font-size: 5em;
    }

    .price-graph  {
      height: 50vh;
    }

  }
  /* If the screen size is smaller than 400px, set the font-size to 3.5em */
  @media (max-width: 399.98px) {
    .ccp-header {
      font-size: 3.5em;
    }
    .price-graph  {
      height: 75vh;
    }
  }